<div>
	<ng-template ngbSlide>
		<div class="slide">
			<div class="content">
				<h6>Slide 1</h6>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente culpa ducimus
					saepe veritatis aliquid esse libero nisi dignissimos nulla voluptatum,
					distinctio accusantium modi, molestiae aspernatur blanditiis consectetur, sunt
					adipisci cumque?
				</p>
			</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="slide">
			<div class="content">
				<h6>Slide 1</h6>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente culpa ducimus
					saepe veritatis aliquid esse libero nisi dignissimos nulla voluptatum,
					distinctio accusantium modi, molestiae aspernatur blanditiis consectetur, sunt
					adipisci cumque?
				</p>
			</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="slide">
			<div class="content">
				<h6>Slide 1</h6>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente culpa ducimus
					saepe veritatis aliquid esse libero nisi dignissimos nulla voluptatum,
					distinctio accusantium modi, molestiae aspernatur blanditiis consectetur, sunt
					adipisci cumque?
				</p>
			</div>
		</div>
	</ng-template>
</div>
