<div class="slide" *ngFor="let image of images; first as first">
	<section>
		<p class="cursive animate__animated animate__fadeInDown" *ngIf="first">
			{{ message }}
		</p>
		<small class="cursive animate__animated animate__fadeInDown" *ngIf="first">
			- Heaven, Bryan Adams
		</small>
	</section>
	<img [src]="image" />
</div>
<span class="indicator">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		stroke-width="1.25"
		stroke="var(--white)"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
		<path d="M6 9l6 6l6 -6"></path>
	</svg>
</span>
