<h1 mat-dialog-title>{{ headlining }}</h1>
<section mat-dialog-content>
	<div class="maps-container">
		<ng-container *ngIf="data">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d933.7290662131496!2d-100.3935511!3d20.5914769!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35bd4620bf0bb%3A0xa16d4316df13b127!2sEstacionamiento%20Centro%20Qro!5e0!3m2!1ses-419!2smx!4v1686621899685!5m2!1ses-419!2smx"
				height="200"
				style="border: 0"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
			></iframe>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d933.7266097469106!2d-100.3943739!3d20.5918781!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35b2a6526edcd%3A0xbf0cd75c7a41a538!2sEstacionamiento%20Woolworth!5e0!3m2!1ses-419!2smx!4v1686621938226!5m2!1ses-419!2smx"
				height="200"
				style="border: 0"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
			></iframe>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1867.4641914203144!2d-100.395829!3d20.5909821!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d30c83bf82070b%3A0xf2ade3530e2cc017!2sEstacionamiento%20Pino%20Suarez!5e0!3m2!1ses-419!2smx!4v1686621965066!5m2!1ses-419!2smx"
				height="200"
				style="border: 0"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
			></iframe>
		</ng-container>
	</div>
</section>
<footer mat-dialog-actions align="end">
	<button mat-flat-button mat-dialog-close>{{ 'BUTTONS.CLOSE' | translate }}</button>
</footer>
