:host {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow-y: hidden;
}

header {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#ubicacion {
	iframe {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
}

.mesa-container {
	display: inline-block;
	width: calc(100% - 4rem);
}
