:host {
	display: flex;
	flex-direction: column;
	gap: 3rem 0;
	padding: 1rem;
}

.hotel-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem 0;

	strong {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 0.5rem 0;

		span {
			display: block;
			text-align: center;
			font-size: 1.25rem;

			&:first-of-type {
				font-size: 0.85rem;
			}
		}
	}
}

h3 {
	font-size: 0.85rem;
}

img {
	display: block;
	width: 100%;
	border-radius: 1rem;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 0.5rem;
}

.contact-btn {
	--size: 3rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: var(--white);
	border: 0;
	position: relative;
	color: var(--primary-dark);
	box-shadow: 0 0 1rem rgb(0 0 0 / 8%);
}
