:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--primary: hsl(35, 18%, 81%);
	--primary-dark: hsl(45, 5%, 57%);
	--primary-light: hsl(48, 100%, 99%);
	--accent: hsl(248, 16%, 82%);
	--accent-dark: hsl(251, 5%, 57%);

	--animate-delay: 160ms;
}

@font-face {
	font-family: 'NovaQuinta';
	src: url('/assets/fonts/NovaQuinta.woff') format('woff');
}

.cursive {
	font-family: 'NovaQuinta', sans-serif;
}
